* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets//background1.jpg');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed during scroll */
}
